In [2]:
#Q1. How do you comment code in Python? What are the different types of comments?

In [4]:
#ans1. we can comment code by using # symbol for single line comment.
#there can be 2 types of comment single line and multipule line comment .
#for multiple line comment we can use '' or "" for three time at the starting and at the end .

In [5]:
#Q2. What are variables in Python? How do you declare and assign values to variables?

In [6]:
# ans 2. symbolic name used to assign value of an object is variable .
# values are assigned to the variables by assignment operator '=' .

In [7]:
#Q3. How do you convert one data type to another in Python?

# ans.  by typecasting

In [8]:
#Q4. How do you write and execute a Python script from the command line?

In [9]:
#Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

my_list = [1,2,3,4,5]

In [11]:
print(my_list[1:3])

[2, 3]

In [12]:
#Q6. What is a complex number in mathematics, and how is it represented in Python?

# ans. its a combination of a real number and imaginary number with i as imaginary unit.
#      in python complex number is presented as ' y = a + bj' where j is imaginery number.

In [13]:
#Q7. What is the correct way to declare a variable named age and assign the value 25 to it?
# ans. 
age = 25

In [14]:
#Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belongs to?

price = 9.99
type(price)

float

In [15]:
#Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?
# ans.
name = " varsha singh"
print (name)

 varsha singh

In [16]:
#Q10. Given the string "Hello, World!", extract the substring "World".

s = "Hello World"
s[6:]

'World'

In [ ]:
'''Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.'''